@using System.Web.Mvc.Html
@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <title>Prospector - @ViewBag.Title</title>
    @Styles.Render("~/bundles/prospectorstyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-plugins")
</head>
    <body>
    <div class="outer-container">
        <div class="container">
            <h2>Prospector</h2>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="navbar-left">
                        <li>
                            <span class="navBarHeader">@Html.ActionLink("Home", "Index", "Home")</span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader">@Html.ActionLink("Calculator", "Index", "Calculator")</span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader">@Html.ActionLink("Holdings", "Index", "Holdings")</span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader">@Html.ActionLink("Transactions", "Index", "Transactions")</span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader">Dashboard</span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader"><a href="https://www.barclaysstockbrokers.co.uk/Pages/index.aspx" target="_blank">Barclays Stockbrokers</a></span>
                        </li>
                        <li>
                            <span class="seperator">-</span>
                        </li>
                        <li>
                            <span class="navBarHeader"><a href="http://www.msn.com/en-gb/money/watchlist" target="_blank">MSN Money</a></span>
                        </li>
                    </ul>
                    <ul class="navbar-right">
                        <li>
                            <span class="navBarHeader">Admin</span>
                            <ul>
                                <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    </body>
</html>
