@using Prospector.Domain.Engines
@using Prospector.Domain.Enumerations
@using Prospector.Domain.Parsers
@using Prospector.Presentation.ViewModels
@model TransactionSearchViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Transactions</h3>
<div class="notification">
    @ViewBag.Message
</div>
<div class="columnContainer">
    <div class="leftColumn">
        <form action="/Transactions/Index" method="POST">
            @Html.HiddenFor(m => m.MonthlyTarget)
            @Html.HiddenFor(m => m.TaxFreeAllowance)
            <div id="startDateContainer">
                <strong>@Html.LabelFor(model => model.StartDate)</strong>
                <br/>
                @Html.EditorFor(model => model.StartDate)
            </div>
            <br/>
            <div id="endDateContainer">
                <strong>@Html.LabelFor(model => model.EndDate)</strong>
                <br/>
                @Html.EditorFor(model => model.EndDate)
            </div>
            <br/>
            <button type="submit" class="btn-primary">Search</button>
            @Html.ActionLink("Add", "Add", "Transactions", new {Model = new TransactionViewModel()})
        </form>
    </div>
    <div class="rightColumn">
        <strong>Recent</strong>
        <div class="section overflowTable">
            <table>
                <thead class="tableheader">
                <tr>
                    <td class="dataColumn">Code</td>
                    <td class="dataColumn">Date</td>
                    <td class="dataColumn">Transaction Type</td>
                    <td class="dataColumn">Shares</td>
                    <td class="dataColumn">Cost</td>
                    <td class="dataColumn">&nbsp;</td>
                    <td class="dataColumn">&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (var item in Model.Results)
                    {
                        <tr>
                            <td class="dataColumn">@item.Code</td>
                            <td class="dataColumn">@item.Date.ToString("yyyy-MM-dd HH:mm")</td>
                            <td class="dataColumn">@EnumParser.GetDescription(item.TransactionType)</td>
                            <td class="dataColumn">@item.Shares</td>
                            <td class="dataColumn">@String.Format("{0:c2}", new CalculatorEngine().CalculateCost(item.Shares, item.Price, item.Commission, item.Tax, item.Levy))</td>
                            <td class="dataColumn"><a href="#">View</a></td>
                            <td class="dataColumn">
                                @{
                                    if (item.TransactionType == TransactionType.Buy)
                                    {
                                        int count = Model.Results.Count(z => z.SellTransactionId == item.Id);
                                        if (count > 0)
                                        {
                                            <span>Sold</span>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Sell", "Sell", "Transactions", new { Id = item.Id }, null)
                                        }
                                    }
                                    else
                                    {
                                        <span>Sold</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
        <div class="section bold">
            <table>
                <thead class="tableheader">
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="descriptionColumn">Transaction Period</td>
                        <td class="dataColumn">@String.Format("{0:c2}", Model.TransactionPeriod)</td>
                        <td class="descriptionColumn">Since Tax Year Start</td>
                        <td class="dataColumn">@String.Format("{0:c2}", Model.SinceStartTaxYear)</td>
                    </tr>
                <tr>
                    <td class="descriptionColumn">Monthly Target</td>
                    <td class="dataColumn">@String.Format("{0:C2}", Model.MonthlyTarget)</td>
                    <td class="descriptionColumn">Allowance</td>
                    <td class="dataColumn">@String.Format("{0:C2}", Model.TaxFreeAllowance)</td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td class="descriptionColumn">Totals</td>
                    <td class="@String.Format("dataColumn {0}", Model.TransactionPeriod - Model.MonthlyTarget < 0 ? "red" : "green")">@String.Format("{0:C2}", Model.TransactionPeriod - Model.MonthlyTarget)</td>
                    <td class="descriptionColumn">&nbsp;</td>
                    <td class="@String.Format("dataColumn {0}", Model.SinceStartTaxYear - Model.TaxFreeAllowance < 0 ? "red" : "green")">@String.Format("{0:C2}", Model.SinceStartTaxYear - Model.TaxFreeAllowance)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>